body {
  width: 720px;
  margin: 0 auto;
  font-family: 'Signika', sans-serif;
}

h2 {
  text-align: center;
}

h2.title {
  text-align: left;
}

h2.title span.highlight {
  color: #006699;
}

h2.title span.round {
  float: right;
}

.header {
  width:100%;
  position: fixed;
  top:0;
  left:0;
  height: 100px;
  background-color: #006699;
  margin 0 auto;
}

.header .container {
  width: 720px;
  margin: auto;
  height: inherit;
}

.logo {
  font-size: 4em;
  color: white;
  line-height: 100px;
  float: left;
}

.content {
  margin-top: 140px;
}

.title {
  text-align: center;
}

.decks {
  position: relative;
  top:200px;
}

.decks .buttons {
  margin-top: 50px;
}

.button {
  display: block;
  border: none;
  padding: 10px 30px;
  margin: 20px auto;
  height: 60px;
  color: white;
  background: -webkit-linear-gradient(#006699,#00476B );
  box-shadow: 2px 2px 6px #aaa;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 40px;
}

#guess-box .button {
  display: inline-block;
  float: right;
}

.signin {
  line-height: 100px;
  float: right;
  vertical-align: middle;
}

.signin .buttons input {
 color: white;
 border: none;
 background: none;
}

.card .container {
  display: table-cell;
  vertical-align: middle;
  width: 720px;
  height: 480px;
  box-shadow: 2px 2px 0 #ddd; 
  background: beige;
  text-align: center;
  font-size: 4em;
  color: #999;
}

.card {
  width: 720px;
  margin: 0 auto;
  z-index: 2;
}

#guess-box {
  width:100%;
  margin: 0 auto;
}

#guess-box form {
  width: 720px;
  margin: 0 auto;
}


#guess input.field {
  border-radius: 30px;
  width: 400px;
  height: 60px;
  margin: 20px auto 0;
  padding-left: 20px;
  color: #ddd;
  font-size: 2em;
  display: inline-block;
}