body {
  width: 720px;
  margin: 0 auto;
  font-family: 'Signika', sans-serif;
}

h2 {
  text-align: center;
}

.header {
  width:100%;
  position: fixed;
  top:0;
  left:0;
  height: 100px;
  background-color: #006699;
  margin 0 auto;
}

.header .container {
  width: 720px;
  margin: auto;
  height: inherit;
}

.logo {
  font-size: 4em;
  color: white;
  line-height: 100px;
  float: left;
}

.decks {
  position: relative;
  top:200px;
}

.decks .buttons {
  margin-top: 50px;
}

.decks form input {
  display: block;
  border: none;
  padding: 10px 30px;
  margin: 20px auto;
  color: white;
  background: -webkit-linear-gradient(#006699,#00476B );
  box-shadow: 2px 2px 6px #aaa;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 40px;
}

.signin {
  line-height: 100px;
  float: right;
}

.signin .buttons input {
 color: white;
 border: none;
 background: none;
}
