<div class="signin">
  <form class="buttons" name="signin" action="/" method="post">
      <input type="submit" name="sign in" value="Sign In">&nbsp;|&nbsp;
      <input type="submit" name="sign up" value="Sign Up">
  </form>
</div>
