<div class="decks" >
  <h2>Here's a quick peek of our decks:</h2>
  <form name="buttons" action="/round" method="post">
    <input class="button" type="submit" name="name" value="State Capitals">
    <input class="button" type="submit" name="know your boot" value="Know your Boot">
    <input class="button" type="submit" name="spanish/english" value="Spanish / English">
  </form>
  <h2>Try one now!</h2>
</div>

<!-- deck_id = Deck.where(name: param[:name]).id
Card.find_by(deck_id) -->
